[user]
	name = Dhruva Kumar
	email = 102192960+dhruva-dk@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/dk/.gitignore_global
