tap "mhaeuser/mhaeuser"

brew "git"
brew "chezmoi"
brew "mise"
brew "starship"
brew "gh"
brew "colima", restart_service: :changed
brew "docker"
brew "mas"
brew "uv"
brew "llama.cpp"

cask "battery-toolkit" 
cask "ghostty"
cask "1password"
cask "1password-cli" 
cask "appcleaner"
cask "github"       
cask "google-chrome"
cask "spotify"
cask "logi-options-plus"
cask "visual-studio-code"
cask "flutter"

