[user]
	name = Dhruva Kumar
	email = 102192960+dhruva-dk@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFJpTHTgnFvz3doX00WcgAuPadBF/fvQXwn61nF1jHL+

[gpg]
  format = ssh

[gpg "ssh"]
    {{- if eq .chezmoi.os "darwin" }}
    # macOS 1Password path
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- else if eq .chezmoi.os "linux" }}
    # Linux 1Password path (Standard location)
    program = "/opt/1Password/op-ssh-sign"
    {{- end }}

[commit]
  gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
