brew "blueutil"
brew "chezmoi"
brew "colima", restart_service: :changed
brew "docker"
brew "docker-compose"
brew "ghostscript"
brew "mas"
brew "mise"
brew "starship"
brew "stow"
cask "1password"
cask "1password-cli"
cask "aldente"
cask "appcleaner"
cask "flutter"
cask "font-fira-code-nerd-font"
cask "github"
cask "google-chrome"
cask "intellij-idea"
cask "logi-options+"
cask "maccy"
cask "spotify"
cask "visual-studio-code"
cask "webstorm"
mas "1Password for Safari", id: 1569813296
mas "AdGuard for Safari", id: 1440147259
mas "ImageBar", id: 6747653607
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Transporter", id: 1450874784
mas "Xcode", id: 497799835
vscode "christian-kohler.path-intellisense"
vscode "dbaeumer.vscode-eslint"
vscode "esbenp.prettier-vscode"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "pkief.material-icon-theme"
