# Macos only
{{ if eq .chezmoi.os "darwin" -}}

brew "chezmoi"
brew "git" 
brew "mise"
brew "starship"
brew "gh"
brew "blueutil"
brew "colima", restart_service: :changed
brew "docker"
brew "mas"

cask "1password"
cask "1password-cli" 
cask "aldente"       
cask "appcleaner"
cask "github"       
cask "google-chrome"
cask "intellij-idea"
cask "logi-options+"
cask "spotify"
cask "visual-studio-code"
cask "webstorm"
cask "flutter"

# Font for starship terminal prompt
cask "font-fira-code-nerd-font"

mas "1Password for Safari", id: 1569813296
mas "AdGuard for Safari", id: 1440147259
mas "ImageBar", id: 6747653607
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Transporter", id: 1450874784
mas "Xcode", id: 497799835

{{ end -}}