#!/bin/bash
set -e


{{ if ne .chezmoi.os "darwin" }}
echo "Bootstrap only on MacOS. On Linux, please ensure required packages, including mise and starship, are installed manually, then run 'chezmoi apply'."
exit 0
{{ end }}




# 1. Check for Xcode Command Line Tools
if ! xcode-select -p >/dev/null 2>&1; then
    echo "Please install Xcode Command Line Tools and re-run this script."
    exit 1
fi

# 2. Install Homebrew (Only if missing)
if ! command -v brew >/dev/null 2>&1; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew already installed."
fi

# 3. Load Homebrew environment for the rest of this session
if [ -f "/opt/homebrew/bin/brew" ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -f "/usr/local/bin/brew" ]; then
    eval "$(/usr/local/bin/brew shellenv)"
fi