#!/bin/bash

set -e


# This hash forces the script to run whenever dot_Brewfile.tmpl changes
# Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

echo "🍺 Brewfile changed. Updating packages..."
brew bundle --global --cleanup
