Host garnet
    HostName garnet.cs.utexas.edu
    User dkumar
    ForwardAgent yes

Host *
{{ if and (eq .chezmoi.os "darwin") .has_1password }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else if and (eq .chezmoi.os "linux") .has_1password }}
  IdentityAgent "~/.1password/agent.sock"
{{ end }}
